**/.DS_Store
**/.idea

node_modules
/node_modules

storage

**/package-lock.json
**/npm-error.log
**/yarn-error.log
**/lerna-debug.log

**/.vscode/launch.*
!packages/project-template-empty/.vscode/launch.*
settings.yml

logs
.migrate
.history/*

.yalc
**/.yalc
**/yalc.lock
yalc.lock
.env.local
